<blockquote>
  <p>Neo Cash was built to help increase the adoption of cryptocurrency among successful people.</p>
  <footer><a href="http://www.neocash.tech/" target="_blank">http://www.neocash.tech/</a></footer>
</blockquote>
